* {
    font-family: sans-serif;
    border: none;
}

body {
    background-color: #232323;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

a{
    padding: 0.5rem;
    background-color: #aaaa1c;
    color: white;
    border-radius: 0.3rem;
    text-decoration: none;
    margin-left: 0.3rem;
}



.search {
    background-color: #ffffff;
    padding: 0.6rem;
    border-radius: 0.3rem;
    margin: 0 1rem;
}

form {
    display: flex;
    justify-content: space-between;
}

.search-bar {
    flex-grow: 1;
    font-size: large;
}

.search-button {
    background-color: #494949;
    font-size: large;
    color: white;
    padding: 0.3rem;
    border-radius: 0.3rem;
}


a:hover {
    background-color: #dede3d;
}

h1 {
    font-family: sans-serif;
    color: white;
}

.table-card {
    margin: 1rem;
    border-radius: .2rem;
    background-color: #323232;
    padding: 1rem;
}

table {
    color: white;
    border-collapse: separate;
    width: 100%;

}

table th{
    text-align: left;
    font-size: larger;
    padding: 0.6rem 0;
    color: #aaaa1c;
}

table tr td{
    border-bottom: 1px solid #494949;
}

table tr:last-child td{
    border-bottom: none;
}

tr:first-child {
    border-bottom: none;
}

td {
    padding: .5rem 0;
}


.table-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

