<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
<head>
    <meta charset="UTF-8">
    <title>uTunes - The bootleg alternative to iTunes</title>
</head>
<body>
    <header>
        <h1>uTunes</h1>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>
    <div class="search">
        <form th:action="@{/search}" method="post">
            <input class="search-bar" type="text" id="name" th:value="${searchText}" name="searchText" placeholder="Never Gonna Give You Up">
            <input class="search-button" type="submit" value="Search">
        </form>
    </div>

    <div class="table-container">
        <div class="table-card">
            <table>
                <tr>
                    <th>Songs</th>
                </tr>
                <tr th:each="song: ${songs}">
                    <td th:text="${song.getSongTitle()}"></td>
                </tr>
            </table>
        </div>
        <div class="table-card">
            <table>
                <tr>
                    <th>Albums</th>
                </tr>
                <tr th:each="album: ${albums}">
                    <td th:text="${album.getAlbumTitle()}"></td>
                </tr>
            </table>
        </div>

        <div class="table-card">
            <table>
                <tr>
                    <th>Artists</th>
                </tr>
                <tr th:each="artist: ${artists}">
                    <td th:text="${artist.getArtistName()}"></td>
                </tr>
            </table>
        </div>

        <div class="table-card">
            <table>
                <tr>
                    <th>Genres</th>
                </tr>
                <tr th:each="genre: ${genres}">
                    <td th:text="${genre.getGenre()}"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>