<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <h1>uTunes</h1>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>
    <div>
        <div class="table-card">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Genre</th>
                </tr>
                <tr th:each="result: ${results}">
                    <td th:text="${result.getTrack()}"></td>
                    <td th:text="${result.getArtist()}"></td>
                    <td th:text="${result.getAlbum()}"></td>
                    <td th:text="${result.getGenre()}"></td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>